/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 Intel Corporation
 */

/ {
	zephyr,shell-uart {
		io-channels =  <&uart1 0>;
	};
};

&uart1 { /* PS2DAT0A */
	#io-channel-cells = <0>;
};
