# Microchip XEC GPIO configuration options

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config GPIO_MCHP_XEC_NG
	bool "Microchip XEC next gen GPIO driver"
	default y
	depends on DT_HAS_MICROCHIP_XEC_GPIO_NG_ENABLED
	help
	  Enable the Micrcochip XEC next gen GPIO driver
