/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	board_power: resources {
		compatible = "microchip,mec_assy6941-board-power";
		/* MCHP_GPIO_012 */
		pwrg-gpios = <&gpio_000_036 10 GPIO_ACTIVE_HIGH>;
		/* MCHP_GPIO_0054 */
		rsm-gpios = <&gpio_040_076 12 GPIO_ACTIVE_HIGH>;
	};
};

&espi0 {
	compatible = "microchip,xec-espi-ng";
	status = "okay";

	/* required */
	config-io-addr = <0x2E>;
	host-memmap-addr-high = <0>; /* bits[47:32] of Host address for memory mapped LDNs */
	sram-bar-addr-high = <0>; /* bits[47:32] of Host address for SRAM BARs */

	pinctrl-0 = <&espi_reset_n_gpio061 &espi_cs_n_gpio066 &espi_clk_gpio065
		     &espi_alert_n_gpio063 &espi_io0_gpio070 &espi_io1_gpio071
		     &espi_io2_gpio072 &espi_io3_gpio073>;
	pinctrl-names = "default";
};
