/*
 * Copyright (c) 2026 Microchip Technology Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

/* mec_assy6941 EVB with mec1753_qlj */

#include <zephyr/dt-bindings/dma/mchp-xec-dmac.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	aliases {
		i2c-target-port = &i2c0_p0;
		i2c-controller-port = &i2c1_p7;
	};

	/* Port 0 on I2C controller 0: targets and controller transfers share it */
	i2c0_p0: i2c-port0 {
		compatible = "microchip,xec-i2c-nl-port";
		#address-cells = <1>;
		#size-cells = <0>;
		port = <0>;
		controller = <&i2c_smb_0>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		pinctrl-0 = <&i2c00_sda_gpio003 &i2c00_scl_gpio004>;
		pinctrl-names = "default";
		status = "okay";

		pca9555_evb: pca9555@26 {
			reg = <0x26>;
			status = "okay";
		};
	};

	/* Port 7 on I2C controller 1: controller mode */
	i2c1_p7: i2c-port7 {
		compatible = "microchip,xec-i2c-nl-port";
		#address-cells = <1>;
		#size-cells = <0>;
		port = <7>;
		controller = <&i2c_smb_1>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		pinctrl-0 = <&i2c07_sda_gpio012 &i2c07_scl_gpio013>;
		pinctrl-names = "default";
		status = "okay";

		fram_evb: fram@50 {
			reg = <0x50>;
			status = "okay";
		};
	};
};

&dmac {
	status = "okay";
};

&uart1 {
	compatible = "microchip,xec-uart";
	status = "okay";
};

&i2c_smb_0 {
	compatible = "microchip,xec-i2c-nl";
	status = "okay";
	dmas = <&dmac 0 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB0_CTRL>,
	       <&dmac 1 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB0_TARG>;
	dma-names = "host", "target";
	/* Largest external write (register pointer + 256 data bytes), the START
	 * address byte, and a RPT-START address byte.
	 */
	target-buffer-size = <259>;
	default-port = <&i2c0_p0>;
};

&i2c00_sda_gpio003 {
	drive-open-drain;
	output-enable;
	output-high;
};

&i2c00_scl_gpio004 {
	drive-open-drain;
	output-enable;
	output-high;
};

&i2c_smb_1 {
	compatible = "microchip,xec-i2c-nl";
	status = "okay";
	dmas = <&dmac 2 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB1_CTRL>,
	       <&dmac 3 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB1_TARG>;
	dma-names = "host", "target";
	/* Largest external write (register pointer + 256 data bytes), the START
	 * address byte, and a RPT-START address byte.
	 */
	target-buffer-size = <259>;
	default-port = <&i2c1_p7>;
};

&i2c07_sda_gpio012 {
	drive-open-drain;
	output-enable;
	output-high;
};

&i2c07_scl_gpio013 {
	drive-open-drain;
	output-enable;
	output-high;
};
