# Microchip MEC5 eSPI driver
# Copyright (c) 2025 Microchip Technology Inc

config ESPI_MCHP_MEC5
	bool "Microchip MEC5 family eSPI driver"
	default y
	depends on DT_HAS_MICROCHIP_MEC5_ESPI_ENABLED
	select PINCTRL
	help
	  Enable the eSPI driver for Microchip MEC5 family

if ESPI_MCHP_MEC5

config ESPI_OOB_CHANNEL
	default y

config ESPI_FLASH_CHANNEL
	default y

config ESPI_VWIRE_SEND_TIMEOUT
       int "eSPI send VWire to host timeout in microseconds"
       default 1000
       depends on ESPI_VWIRE_CHANNEL
       help
         ESPI target to host VWire protocal uses a notification
	 and GET_VW command. When the target changes any target-to-host
	 VWire it will cause ESPI_ALERT to be asserted when ESPI_CS
	 de-asserts. The eSPI Host should issue a GET_STATUS command
	 to determine cause of the alert. The status information will
	 have a bit indicating new VWire values are available. The Host
	 then issues a GET_VW command to get the target-to-host VWire
	 groups containing changes. MEC hardware has a read-only status
	 not connected to an interrupt indicating the Host has read the
	 VWires using GET_VW. This timeout is used by the driver which
	 polls the GET_VW status.

config ESPI_OOB_BUFFER_SIZE
	int "eSPI OOB channel buffer size in bytes"
	default 128
	depends on ESPI_OOB_CHANNEL
	help
	  Driver OOB transfer buffer size in bytes. Default is the
	  eSPI specification defined minimum of 128 bytes. The current
	  maximum OOB payload from the eSPI host is 73 bytes.

config ESPI_FLASH_BUFFER_SIZE
	int "eSPI flash channel buffer size in bytes"
	default 256
	depends on ESPI_FLASH_CHANNEL
	help
	  Driver flash channel transfer buffer size in bytes. The
	  default value is 256 bytes which is the eSPI specification
	  maximum.

endif # ESPI_MCHP_MEC5
