/*
 * Copyright (c) 2022 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {};

&qspi0 {
	compatible = "microchip,mspi-xec-qmspi";
	status = "okay";

	pinctrl-0 = <&qspi_shd_cs0_n_gpio055 &qspi_shd_clk_gpio056
		     &qspi_shd_io0_gpio223 &qspi_shd_io1_gpio224
		     &qspi_shd_io2_gpio227 &qspi_shd_io3_gpio016>;
	pinctrl-names = "default";

	clock-frequency = <DT_FREQ_M(96)>; /* Maximum frequency the controller can support */
	op-mode = "MSPI_OP_MODE_CONTROLLER";
	duplex = "MSPI_HALF_DUPLEX";
	software-multiperipheral; /* REQUIRED */

	/* HW CS0 dummy entry, HW CS1 dummy entry, GPIO-CE, GPIO-CE */
	ce-gpios = <MCHP_GPIO_DECODE_276 0>,
		   <MCHP_GPIO_DECODE_276 0>,
		   <MCHP_GPIO_DECODE_020 GPIO_ACTIVE_LOW>,
		   <MCHP_GPIO_DECODE_044 GPIO_ACTIVE_LOW>;

/*
	ce-gpios = <MCHP_GPIO_DECODE_020 GPIO_ACTIVE_LOW>;
*/


	spiflash0: qspi-nor-flash@0 {
		compatible = "jedec,mspi-nor";
		reg = <0>;

		mspi-hardware-ce-num = <0>;
		size = <DT_SIZE_M(128)>;
		mspi-max-frequency = <8000000>;
		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_1_4";
		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
		read-command = <0x6b>;
		write-command = <0x38>;
		command-length = "INSTR_1_BYTE";
		address-length = "ADDR_3_BYTE";
		tx-dummy = <0>;
		rx-dummy = <8>;
		jedec-id = [ef 60 18];
	};

	spiflash1: qspi-nor-flash@1 {
		compatible = "jedec,mspi-nor";
		reg = <1>;

		mspi-hardware-ce-num = <1>;
		size = <DT_SIZE_M(128)>;
		mspi-max-frequency = <8000000>;
		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_4_4";
		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
		read-command = <0xeb>;
		write-command = <0x38>;
		command-length = "INSTR_1_BYTE";
		address-length = "ADDR_3_BYTE";
		tx-dummy = <0>;
		rx-dummy = <6>;
		jedec-id = [ef 60 18];
	};

	spiflash2: qspi-nor-flash@2 {
		compatible = "jedec,mspi-nor";
		reg = <2>;

		size = <DT_SIZE_M(128)>;
		mspi-max-frequency = <8000000>;
		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_4_4";
		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
		read-command = <0xeb>;
		write-command = <0x38>;
		command-length = "INSTR_1_BYTE";
		address-length = "ADDR_3_BYTE";
		tx-dummy = <0>;
		rx-dummy = <6>;
		jedec-id = [ef 60 18];
	};

	spiflash3: qspi-nor-flash@3 {
		compatible = "jedec,mspi-nor";
		reg = <3>;

		size = <DT_SIZE_M(128)>;
		mspi-max-frequency = <8000000>;
		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_4_4";
		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
		read-command = <0xeb>;
		write-command = <0x38>;
		command-length = "INSTR_1_BYTE";
		address-length = "ADDR_3_BYTE";
		tx-dummy = <0>;
		rx-dummy = <6>;
		jedec-id = [ef 60 18];
	};

/*
	spiflash0: qspi-nor-flash@0 {
		compatible = "jedec,mspi-nor";
		reg = <0>;

		size = <DT_SIZE_M(128)>;
		mspi-max-frequency = <8000000>;
		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_4_4";
		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
		read-command = <0xeb>;
		write-command = <0x38>;
		command-length = "INSTR_1_BYTE";
		address-length = "ADDR_3_BYTE";
		tx-dummy = <0>;
		rx-dummy = <6>;
		jedec-id = [18 60 ef];
	};
*/
};
