# Copyright (c) 2023 Meta Platforms, Inc. and its affiliates.
# Copyright (c) 2026 Microchip Inc.
#
# SPDX-License-Identifier: Apache-2.0

module = I3C_MCHP
module-str = i3c-mchp
source "subsys/logging/Kconfig.template.log_config"

menuconfig I3C_MCHP
	bool "MCHP I3C support"
	select I3C_IBI_WORKQUEUE if I3C_USE_IBI && I3C_CONTROLLER
	depends on DT_HAS_MICROCHIP_MCHP_I3C_ENABLED
	default y
	help
	  Enable the MCHP I3C driver

if I3C_MCHP

config I3C_MCHP_RW_TIMEOUT_MS
	int "Set the Read/Write timeout in milliseconds"
	default 100

endif # I3C_MCHP
