# Microchip MEC5 I3C configuration options

# Copyright (c) 2024 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config I3C_MCHP_MEC5
	bool "Microchip MEC5 family I3C driver"
	select I3C_IBI_WORKQUEUE if I3C_USE_IBI
	default y
	depends on DT_HAS_MICROCHIP_MEC5_I3C_ENABLED
	help
	  Enable the Microchip MEC5 family I3C driver.

config I3C_MEC5_USE_DMA
	bool "Enable DMA for Microchip MEC5 family I3C driver"
	default n
	depends on DT_HAS_MICROCHIP_MEC5_I3C_ENABLED
	help
	  Enable DMA for the Microchip MEC5 family I3C driver.
