# Microchip XEC PWM configuration options

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config RTC_XEC
	bool "Microchip XEC RTC"
	default y
	depends on DT_HAS_MICROCHIP_XEC_RTC_ENABLED
	help
		Enable driver to utilize RTC on the Microchip XEC IP block

config RTC_DATA_MODE_BCD
	bool "Select data mode"
	default y
	depends on DT_HAS_MICROCHIP_XEC_RTC_ENABLED
	help
		Select binary or BCD representation of time

config RTC_HOUR_FORMAT_24
	bool "Select hour format"
	default y
	depends on DT_HAS_MICROCHIP_XEC_RTC_ENABLED
	help
		Select hour format 24/12 representation of time

#VAL 	INTERRUPT PERIOD
#0x00	Never Triggered
#0x01	3.90625 ms
#0x02	7.8125 ms
#0x03	122.070 us
#0x04	244.141 us
#0x05	488.281 us
#0x06	976.5625 us
#0x07	1.953125 ms
#0x08	3.90625 ms
#0x09	7.8125 ms
#0x0A	15.625 ms
#0x0B	31.25 ms
#0x0C	62.5 ms
#0x0D	125 ms
#0x0E	250 ms
#0x0F	500 ms

config RTC_PERIODIC_ALARM_RATE_SEL
	hex "Periodic alarm rate"
	default 0x0F
	depends on DT_HAS_MICROCHIP_XEC_RTC_ENABLED
	help
		Select RTC periodic alarm rate
