/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <microchip/mec5/mec1753qlj-a0-pinctrl.dtsi>

/ {
	aliases {
		i2c-bb = &i2c_smb_0;
		i2c-nl = &i2c_smb_1;
		i2c-nl-target = &i2c_smb_2;
	};
};

&dmac {
	dma-channel-mask = <0xffff0>;
	status = "okay";
};

/* I2C port 0 */
&i2c00_sda_gpio003 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};
&i2c00_scl_gpio004 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};

/* I2C Port 4 */
&i2c04_sda_gpio143 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};
&i2c04_scl_gpio144 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};

/* I2C Port 5 */
&i2c05_sda_gpio141 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};
&i2c05_scl_gpio142 {
	drive-open-drain;
	output-enable;
	output-high;
	drive-strength = "4x";
};

&i2c_smb_0 {
/*	compatible = "microchip,xec-i2c-nl"; */
	compatible = "microchip,xec-i2c-v2";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c00_sda_gpio003 &i2c00_scl_gpio004>;
	pinctrl-names = "default";
	port-sel = <0>;
/*	pcrs = <1 10>; */
/*	dmas = <&dmac 0 1>, <&dmac 1 0>; */
/*	dma-names = "cm", "tm"; */
/*	cm-buffer-size = <16>; */
/*	tm-rx-buffer-size = <16>; */
	status = "okay";
};

&i2c_smb_1 {
	compatible = "microchip,xec-i2c-nl";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c04_sda_gpio143 &i2c04_scl_gpio144>;
	pinctrl-names = "default";
	port-sel = <4>;
	dmas = <&dmac 2 3>, <&dmac 3 2>;
	dma-names = "cm", "tm";
	cm-buffer-size = <16>;
	tm-rx-buffer-size = <16>;
	status = "okay";
};

&i2c_smb_2 {
	compabile = "microchip,xec-i2c-nl";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c05_sda_gpio141 &i2c05_scl_gpio142>;
	pinctrl-names = "default";
	port-sel = <5>;
	dmas = <&dmac 4 5>, <&dmac 5 4>;
	dma-names = "cm", "tm";
	status = "disabled";
};
