# Microchip XEC Watchdog Timer configuration

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config WDT_XEC
	bool "Microchip XEC series Watchdog Timer (WDT) driver"
	depends on SOC_FAMILY_MEC
	default y
	help
	  Enable WDT driver for Microchip XEC MCU series.

config WDT_XEC_DELAY_CYCLES
	int "Number of delay cycles before generating watchdog event/signal"
	depends on WDT_XEC
	range 1 255
	default 10
	help
	  This option defines the window in which a watchdog event must be
	  handled, in units of 31ms. After this time window, the watchdog reset
	  triggers immediately.
