/*
 * Copyright (c) 2024 Microchip Technology Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		spi0 = &qspi0;
	};
};

/* Loopback requires wire connecting pin_qspi_shd_io0 to pin_qspi_shd_io1 */

&qspi0 {
	status = "okay";
	compatible = "microchip,mec5-qspi";
	clock-frequency = <12000000>;

	pinctrl-0 = <&pin_qspi_shd_cs0_n &pin_qspi_shd_clk
		     &pin_qspi_shd_io0 &pin_qspi_shd_io1>;
	pinctrl-names = "default";

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};

	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};
