/*
 * Copyright (c) 2026 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* mec_assy6941 EVB - deep-sleep wake-on-I2C sample (I2Cv3-NL / DMA driver).
 *
 * Topology:
 *   SMB0 = controller on port 0 @ 100 kHz.
 *   SMB1 = target 0x40 on port 7 @ 100 kHz (plain, not wake-capable).
 *   SMB4 = target 0x38 on port 3 @ 100 kHz, WAKE-CAPABLE (wakeup-source).
 *
 * Set VTR2 to +3.3V, J68 2x8 1-2.
 *
 * I2C Port 0 (SMB0 controller)
 * ----------------------------
 * JP15 3x6 Pin Mux:   7-8 GPIO004 as I2C00_SCL, 4-5 GPIO003 as I2C00_SDA
 * JP27 3x12 Pin Mux:  31-32 GPIO004 as I2C00_SCL, 34-35 GPIO003 as I2C00_SDA
 * JP70 2x17 Pull-Ups: 19-20 ON, 21-22 ON (7.5K to VTR1)
 * J12 1x6: pin 1 = I2C00_SCL/GPIO004, pin 3 = I2C00_SDA/GPIO003, pin 5 = VTR1
 *
 * I2C Port 7 (SMB1 target 0x40)
 * -----------------------------
 * JP14 3x6:  7-8, 16-17
 * JP76 2x17: 21-22, 23-24 (7.5K to VTR2)
 * J22 1x6: pin 1 = I2C07_SCL/GPIO013, pin 3 = I2C07_SDA/GPIO012, pin 5 = VTR2
 *
 * Pre-sleep loopback self-test wiring (port 0 <-> port 7):
 *   Fly wire J22-1 to J12-1 (SCL) and J22-3 to J12-3 (SDA).
 *   SMB0 (port 0) drives the 0x40 target that SMB1 exposes on port 7.
 *
 * I2C Port 3 (SMB4 target 0x38, wake source)
 * ------------------------------------------
 * I2C03_SDA = GPIO007, I2C03_SCL = GPIO010.
 * Connect the EXTERNAL I2C controller here. After the SoC enters deep
 * sleep, a START + address 0x38 from that controller wakes it.
 *
 * JP11 3x6: PS2 Signal Demux
 * 7-8 jumper ON. Select I2C03_SCL for GPIO010
 * 10-11 jumper ON. Select I2C03_SDA for GPIO007
 *
 * JP29 3x8: UART-3 Signal Demux
 * 7-8 jumper ON. Select I2C03_SDA for GPIO007
 * 16-17 jumper ON. Select I2C03_SCL for GPIO010
 *
 * JP70 2x17: Pull-ups to VTR1(+3.3V)
 * 23-24 jumper ON. 7.5K pull-up on I2C03_SDA
 * 25-26 jumper ON. 7.5K pull-up on I2C03_SCL
 *
 * J15 1x6 header
 * 1 = I2C03_SCL
 * 2 = GND
 * 3 = I2C03_SDA
 * 4 = N/C
 * 5 = VTR1 (+3.3V)
 * 6 = GND
 *
 * Test pins
 * GPIO241
 * JP19 3x6 5-6
 * JP69 2x17 1-2 pull-up (100K) to VTR1
 *
 * GPIO255
 * JP24 3x16 7-8
 * JP74 2x17 29-30 pull-up (100K) to VTR1
 *
 * vci_in1_n_gpio162
 * J56 3-4 no jumper
 * J57 3-4 jumper switch S4 via schmidt trigger U19B
 * JP147 2x17 27-28 no jumper
 *
 * tst_clk_out_gpio060
 * CPU daughter card assy6949 J1 2x5 pin 1 = TST_CLK_OUT_HD, pin 3 = GND
 */

#include <zephyr/dt-bindings/gpio/microchip-xec-gpio.h>
#include <zephyr/dt-bindings/dma/mchp-xec-dmac.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/i2c/mchp-xec-i2c.h>

/* Enable kernel timer driver for RTOS timer plus a basic timer for k_busy_wait */
&rtimer {
	compatible = "microchip,xec-rtos-timer";
	status = "okay";
};


/* Disable CCT kernel timer driver.
 * CCT uses RTOS timer for deep sleep when the PLL is off.
 */
&cctmr0 {
	status = "disabled";
};

&timer1 {
	status = "okay";
};

/* define sleep states for I2C pins */
&pinctrl {
	i2c00_sda_gpio003_lp: i2c00_sda_gpio003_lp {
		pinmux = <MCHP_XEC_PINMUX(0003, MCHP_AF1)>;
		low-power-enable;
	};
	i2c00_scl_gpio004_lp: i2c00_scl_gpio004_lp {
		pinmux = <MCHP_XEC_PINMUX(0004, MCHP_AF1)>;
		low-power-enable;
	};
	i2c03_sda_gpio007_lp: i2c03_sda_gpio007_lp {
		pinmux = <MCHP_XEC_PINMUX(0007, MCHP_AF1)>;
		low-power-enable;
	};
	i2c03_scl_gpio010_lp: i2c03_scl_gpio010_lp {
		pinmux = <MCHP_XEC_PINMUX(0010, MCHP_AF1)>;
		low-power-enable;
	};
	i2c07_sda_gpio012_lp: i2c07_sda_gpio012_lp {
		pinmux = <MCHP_XEC_PINMUX(0012, MCHP_AF1)>;
		low-power-enable;
	};
	i2c07_scl_gpio013_lp: i2c07_scl_gpio013_lp {
		pinmux = <MCHP_XEC_PINMUX(0013, MCHP_AF1)>;
		low-power-enable;
	};
};

&dmac {
	status = "okay";
};

/* SMB0: controller only -> one "host" DMA channel. */
&i2c_smb_0 {
	compatible = "microchip,xec-i2c-v3-nl";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	girqs = <MCHP_XEC_ECIA_GIRQ_ENC(13, 0) MCHP_XEC_ECIA_GIRQ_ENC(22, 1)>;
	dmas = <&dmac 0 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB0_CTRL>;
	dma-names = "host";
	bounce-buffer-size = <64>;
	default-port = <&i2c0_p0>;
};

/* SMB1: target 0x40 -> needs "host" + "target" DMA channels. */
&i2c_smb_1 {
	compatible = "microchip,xec-i2c-v3-nl";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	girqs = <MCHP_XEC_ECIA_GIRQ_ENC(13, 1) MCHP_XEC_ECIA_GIRQ_ENC(22, 2)>;
	dmas = <&dmac 1 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB1_CTRL>,
	       <&dmac 2 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB1_TARG>;
	dma-names = "host", "target";
	bounce-buffer-size = <64>;
	target-buffer-size = <64>;
	default-port = <&i2c1_p7>;
	wakeup-source;
};

/* SMB4: wake-capable target 0x38 -> "host" + "target" DMA channels, plus
 * wakeup-source so the driver arms START-detect wake on suspend.
 */
&i2c_smb_4 {
	compatible = "microchip,xec-i2c-v3-nl";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	girqs = <MCHP_XEC_ECIA_GIRQ_ENC(13, 4) MCHP_XEC_ECIA_GIRQ_ENC(22, 5)>;
	dmas = <&dmac 3 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB4_CTRL>,
	       <&dmac 4 DMA_MCHP_XEC_TRIG_SRC_I2C_SMB4_TARG>;
	dma-names = "host", "target";
	bounce-buffer-size = <64>;
	target-buffer-size = <64>;
	default-port = <&i2c4_p3>;
	wakeup-source;
};

/* Port 0 pins */
&i2c00_sda_gpio003 {
	drive-open-drain;
};

&i2c00_scl_gpio004 {
	drive-open-drain;
};

/* Port 7 pins */
&i2c07_sda_gpio012 {
	drive-open-drain;
	drive-strength = <3>;
};

&i2c07_scl_gpio013 {
	drive-open-drain;
	drive-strength = <3>;
};

/* Port 3 pins */
&i2c03_sda_gpio007 {
	drive-open-drain;
	drive-strength = <3>;
};

&i2c03_scl_gpio010 {
	drive-open-drain;
	drive-strength = <3>;
};

/ {
	aliases {
		i2c0 = &i2c_smb_0;
		i2c1 = &i2c_smb_1;
		i2c4 = &i2c_smb_4;
	};

	/* Configure GPIO060 as test PLL clock out.
	 * We scope this pin to observe if PLL is turned off in deep sleep (suspend).
	*/
	zephyr,user {
		test-pm-gpios = <MCHP_GPIO_DECODE_241 0>, <MCHP_GPIO_DECODE_255 0>;
		pinctrl-0 = <&tst_clk_out_gpio060 &vci_in1_n_gpio162>;
		pinctrl-names = "default";
	};

	/* Port 0 on SMB0 - controller side of the loopback self-test. */
	i2c0_p0: i2c-port0 {
		compatible = "microchip,xec-i2c-v3-nl-port";
		#address-cells = <1>;
		#size-cells = <0>;
		port = <MCHP_XEC_I2C_CTRL_PORT(0, 0)>;
		controller = <&i2c_smb_0>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		pinctrl-0 = <&i2c00_sda_gpio003 &i2c00_scl_gpio004>;
		pinctrl-1 = <&i2c00_sda_gpio003_lp &i2c00_scl_gpio004_lp>;
		pinctrl-names = "default", "sleep";
		status = "okay";
	};

	/* Port 7 on SMB1 - plain target 0x40. */
	i2c1_p7: i2c-port7 {
		compatible = "microchip,xec-i2c-v3-nl-port";
		#address-cells = <1>;
		#size-cells = <0>;
		port = <MCHP_XEC_I2C_CTRL_PORT(1, 7)>;
		controller = <&i2c_smb_1>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		pinctrl-0 = <&i2c07_sda_gpio012 &i2c07_scl_gpio013>;
		pinctrl-1 = <&i2c07_sda_gpio012_lp &i2c07_scl_gpio013_lp>;
		pinctrl-names = "default", "sleep";
		status = "okay";

		i2c_targ_040: i2c_target@40 {
			reg = <0x40>;
			status = "okay";
		};
	};

	/* Port 3 on SMB4 - wake-capable target 0x38, driven by the external
	 * controller that wakes the SoC from deep sleep.
	 */
	i2c4_p3: i2c-port3 {
		compatible = "microchip,xec-i2c-v3-nl-port";
		#address-cells = <1>;
		#size-cells = <0>;
		port = <MCHP_XEC_I2C_CTRL_PORT(4, 3)>;
		controller = <&i2c_smb_4>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		pinctrl-0 = <&i2c03_sda_gpio007 &i2c03_scl_gpio010>;
		pinctrl-1 = <&i2c03_sda_gpio007_lp &i2c03_scl_gpio010_lp>;
		pinctrl-names = "default", "sleep";
		status = "okay";

		i2c_targ_038: i2c_target@38 {
			reg = <0x38>;
			status = "okay";
		};
	};
};
