# Copyright (c) 2021, Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_MEC172X_NSZ || SOC_MEC172X_NLJ || SOC_MEC520X_MLJ

#config BOARD_MEC172XEVB_ASSY6906
#	bool "Microchip MEC172X EVB ASSY 6906 Development board"
#	depends on SOC_MEC172X_NSZ || SOC_MEC172X_NLJ || SOC_MEC520X_MLJ

config BOARD_MEC172XEVB_ASSY6906_MEC172X_NSZ
	bool "MEC172x EVB Assy6906 with MEC172X NSZ"

config BOARD_MEC172XEVB_ASSY6906_MEC172X_NLJ
	bool "MEC172x EVB Assy6906 with MEC172X NLJ"

config BOARD_MEC172XEVB_ASSY6906_MEC520X_MLJ
	bool "MEC172x EVB Assy6906 with MEC520X MLJ"

endif # SOC_MEC172X_NSZ || SOC_MEC172X_NLJ || SOC_MEC520X_MLJ