/*
 * Copyright (c) 2022 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
};

&espi_saf0 {
   status = "okay";
};

&spi0 {
    status = "okay";
    clock-frequency = <4000000>;
    lines = <4>;
    chip_select = <0>;
    port_sel = <0>; /* Shared SPI */

    pinctrl-0 = < &shd_cs0_n_gpio055
                  &shd_clk_gpio056
                  &shd_io0_gpio223
                  &shd_io1_gpio224
                  &shd_io2_gpio227
                  &shd_io3_gpio016 >;
    pinctrl-names = "default";
};
