# Copyright (c) 2021 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_MCHP_XEC
	bool "Pin controller driver for MCHP XEC MCUs"
	depends on SOC_SERIES_MEC172X
	default y
	help
	  Enable pin controller driver for Microchip XEC MCUs
